.card{
    background-color: #F0FFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    margin: 1rem;
}

.cardName{
    margin: 1rem;
}

.cardPhoto{
    width: 70%;
    height: 70%;
}

.cardButton{
    margin: 1rem;
    background-color: #FFE4C4; 
    border: none;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    border-radius: 4px;
}